<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is Black</h1>
    <img src="black_cat.jpg" alt="blackcat">

    <h3>Name: <%= black[0].name %></h3>
    <h4>Favorite food: <%= black[1].f_food %></h4>
    <h4>Annoying Point
    <p>
    <% for (var i = 2; i < 4; i++) { %>
        <%= black[i].a_point %>
    </p>
    <% } %>
    </h4>
</body>
</html>