<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EJS cats</h1>
    <form action="/white" method="get">
        <input class="img" type="image" name = "cat" src = "/cat.jpg" >
    </form>
    <form action="/mike" method="get">
        <input class="img" type="image" name = "cat" src = "/mike.jpg" >
    </form>
    <form action="/black" method="get">
        <input class="img" type="image" name = "cat" src = "/black_cat.jpg" >
    </form>
    <!-- <div id="img-button"><p id="img">クリック</p></div> -->
    
    
    
    <style>
        .img{
            width: 350px;
            height: 300px;;
        }

        /* #img-button {
            display: block;
            cursor: pointer;
            width: 160px;
            text-align: center;
            border: 1px solid #232323;
        } */

    </style>
    
    <script>
        // document.getElementById("img-button").onclick = function() {
        //     document.getElementById("img").innerHTML = "クリックされた！";
        // };
    
    </script>

</body>
</html>