<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is Mike</h1>
        <img src="mike.jpg" alt="mikecat">

        <h3>Name: <%= mike[0].name %></h3>
        <h4>Favorite food: <%= mike[1].f_food %></h4>
        <h4>Annoying Point
        <p>
        <% for (var i = 2; i < 4; i++) { %>
            <%= mike[i].a_point %>
        </p>
        <% } %>
        </h4>
</body>
</html>